* {
    padding: 0;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    padding: 0;
    border: none;
    background: none;
}